.outer-box {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
  gap: 2rem;
  article {
    @media (min-width: 768px) {
      padding: 1rem;
    }
    color: var(--text-white);
    h3 {
      color: var(--orange);
    }
    .medium-text:nth-of-type(1) {
      margin-top: 0.5rem;
      @media (min-width: 768px) {
        margin: 0;
      }
    }
  }
  img {
    border-radius: 0.5rem;
  }
}
