/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark-black: #110f0f;
  --orange: #e50914;
  --text-white: #eeeeee;
  --darkest-gray: #1c1a1a;
}
body {
  background-color: var(--darkest-gray);
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
  @media (min-width: 1044px) {
    font-size: 3rem;
  }
}

.medium-text {
  font-size: 1rem;
  font-weight: 500;
  @media (min-width: 768px) {
    font-size: 1.2rem;
  }
  @media (min-width: 1044px) {
    font-size: 1.4rem;
  }
}
