section {
  color: var(--dark-black);
  display: grid;
  max-width: 90rem;
  width: 90%;
  margin: 2rem auto;
  grid-template: 1fr / 1fr;
  gap: 2.5rem;
  @media (min-width: 768px) {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }
  @media (min-width: 1440px) {
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  }
}
